<div class="header flex_container">
	<div class="logo_container">
		<a href="/"> <img src='static_images/logo_crop.png' class='logo'>
		</a>
	</div>
	<div class="equal_spacer"></div>
	<div class="nav" id = "nav">
		<a class="button smallButton button_register" href="prereg">
			Register</a>
			<a class="button smallButton button_signin" href="signin">Sign In</a>
	</div>
	<div class = "profile" id = "profile">
	<a class="button smallButton button_register button_profile">
			Profile</a>
	</div>
</div>