<div class="content_forms_supercontainer">
	<b><%= category_name %></b><br>
	<div class="flex_container content_forms_container">
	<%- include("../partials/main_app_content_form",{name: "Vimy Ridge Trip",
		date: "June 7"}) %>
	</div>
</div>