<div class="flex_container main_app_content_form">
	<div class="equal_spacer"></div>
	<div class="vflex_container content_form_data_container">
		<div class="equal_spacer"></div>
		<div class="content_form_name"><%= name %></div>
		<div class="flex_container">
			<div class="equal_spacer"></div>
			<div class="seperator"></div>
			<div class="equal_spacer"></div>
		</div>
		<div class="content_form_date"><%= date %></div>
		<div class="equal_spacer"></div>
	</div>
	<div class="equal_spacer"></div>
</div>