<!DOCTYPE html>
<html>
<head><% include ../partials/head %>
</head>
<body class="white">
	<%- include("../partials/header") %>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<div>
			<h1>Simplify Signing</h1>
			<div class="seperator"></div>
		</div>
		<div class="equal_spacer"></div>
	</div>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<p class="splash_statement">
			At Formly we believe in <b> keeping it simple.</b> We won't force you
			to dig through countless pages to get things done, and we won't ask
			you for information that we don't need. Our goal is to make your
			experience as quick and uncluttered as possible. Thank you!
		</p>
		<div class="equal_spacer"></div>
	</div>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<div class="splash_buttons flex_container">
			<button class="regButton button_register">Sign In</button>
			<button class="regButton button_learnmore_splash">Learn More
			</button>
		</div>
		<div class="equal_spacer"></div>
	</div>
</body>
</html>