<!DOCTYPE html>
<html>
<head><% include ../partials/head %>
</head>
<body>
	<div class="vflex_container">
		<%- include("../partials/header") %>
		<div class="flex_container main_app">
			<div class="main_app_sidebar">
				<h2>Children</h2>
				<%- include("../partials/main_app_sidebar_child",{name: "John"}) %>
				<div class="main_app_sidebar_item main_app_sidebar_add_child">+</div>
			</div>
			<div class="main_app_content">
				<div class="vflex_container">
					<div class="flex_container main_app_content_header"><%-
						include("../partials/main_app_content_header_name",{name: "John"})
						%></div>
					<div class="flex_container main_app_content_body">
						<div class="content_forms_supercontainer">
							<b>New Forms</b><br>
							<div class="flex_container content_forms_container"><%-
								include("../partials/main_app_content_form",{name:
								"Vimy Ridge Trip", date: "Jan 7"}) %>
								</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
</body>
</html>
>
