<!DOCTYPE html>
<html>
<head><% include ../partials/head %>
<script src = "js/client_main_app.js"></script>
</head>
<body>
	<div class="vflex_container">
		<%- include("../partials/header") %>
		<div class="flex_container main_app">
			<div class="main_app_sidebar" id="sidebar">
				<h2>Children</h2>
				<div id = "sidebar_children">
				<%-
				include("../partials/main_app_sidebar_child",{name: "John"}) %>
				<div class="main_app_sidebar_item main_app_sidebar_add_child">+</div>
				</div>
			</div>
			<div class="main_app_content">
				<div class="vflex_container">
					<input type="text" class="input_text main_app_content_header" placeholder="Search or enter a formly code...">
					<div class="vflex_container main_app_content_body">
						<div class="content_forms_supercontainer">
							<b>New Forms</b><br>
							<div class="flex_container content_forms_container" id = "new_forms_container"><%-
								include("../partials/main_app_content_form",{name:
								"Vimy Ridge Trip", date: "Jan 7"}) %>
								</div>
						</div>
						<div class="content_forms_supercontainer">
							<b>Past Forms</b><br>
							<div class="flex_container content_forms_container" id = "past_forms_container">
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
