<!DOCTYPE html>
<html>
<head><% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<div class="content_form">
			<h1>Hi!</h1>
			<p>Before you create your account, we'd like to make sure your
				school board supports formly. Please enter the information required
				below.</p>
			<form action="prereg" method="post" enctype="application/json">
				<input type="text" class="input_text" name="SchoolBoard"
					placeholder="School Board" required="required"> <input type="text"
					class="input_text" name="Country" placeholder="Country" required="required"> <%
				include ../partials/form_buttons_help_submit %>
			</form>
		</div>
		<div class="equal_spacer"></div>
	</div>
</body>
</html>