<!DOCTYPE html>
<html>
<head><% include ../partials/head %>
</head>
<body class = "white">
	<% include ../partials/header %>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<div class="content_form">
			<h1>Welcome</h1>
			<div class="flex_container">
				<div class="equal_spacer"></div>
				<div class="seperator"></div>
				<div class="equal_spacer"></div>
			</div>
			<p>We just need a bit of information to make your account. This
				is how you will log into formly.</p>
			<form action="reg" method="post">
				<% if(failed == 'true'){ %> 
				<div class="banner_failed">That email address is already being used.</div>
				<%}%>
			<input type="text" class="input_text" name="Name"
					placeholder="Full Name" required="required"> 
				<input type="text" class="input_text" name="Email"
					placeholder="Email" required="required"> <input
					type="password" class="input_text" name="Password"
					placeholder="Password" required="required"> <input
					type="checkbox" class="input_chk input_tac" name="TaC" required="required">
				I agree to the terms and conditions.<br> <input type="checkbox"
					class="input_chk input_su" name="SoloUsage" required="required"> I
				verify that only I will have access to this account.<br> <%
				include ../partials/form_buttons_help_submit %>
			</form>
		</div>
		<div class="equal_spacer"></div>
	</div>
</body>
</html>