<!DOCTYPE html>
<html>
<head>
<%- include ../partials/head %>
<script type="text/javascript" src="js/client_signin.js"></script>
</head>
<body class="white">
	<% include ../partials/header %>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<div class="content_form">
			<h1>Sign In</h1>
			<div class="flex_container">
				<div class="equal_spacer"></div>
				<div class="seperator"></div>
				<div class="equal_spacer"></div>
			</div>
			<form method="post" action="signin" id="sign_in_form">
			<% if(failed == 'true'){ %> 
				<div class="banner_failed">Sorry, those credentials
					are incorrect.</div>
					<%}%>
				<input type="text" class="input_text" name="Email"
					placeholder="Email" required="required"> <input
					type="password" class="input_text" name="Password"
					placeholder="Password" required="required">
				<div class="flex_container">
					<a class="button button_form button_help_prereg">Help</a>
					<button class="button_form button_signin" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<div class="equal_spacer"></div>
	</div>
</body>
</html>