<!DOCTYPE html>
<html>
<head><% include ../partials/head %>
</head>
<body class = "white">
	<% include ../partials/header %>
	<div class="flex_container">
		<div class="equal_spacer"></div>
		<div class="content_form">
			<h1>Sign In</h1>
			<div class="flex_container">
				<div class="equal_spacer"></div>
				<div class="seperator"></div>
				<div class="equal_spacer"></div>
			</div>
			<form action="prereg" method="post" enctype="application/json">
				<input type="text" class="input_text" name="Username"
					placeholder="Username" required="required"> <input
					type="password" class="input_text" name="Password"
					placeholder="Password" required="required">
				<div class="flex_container">
					<a class="button button_form button_help_prereg">Help</a>
					<button class="button_form button_signin" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<div class="equal_spacer"></div>
	</div>
</body>
</html>